#Class

In [1]:
class employee:
  pass


Abhishek=employee()
Ram=employee()

In [4]:
Abhishek.fname="Abhishek"
Abhishek.lname="Kaushik"
Abhishek.salary="00000"

Ram.fname="Ram"
Ram.lname="chandra"
Ram.salary="1000000000"

In [6]:
print(Abhishek.fname)

Abhishek

In [7]:
print(Ram.salary)

1000000000

In [8]:
print(Abhishek,Ram)

<__main__.employee object at 0x7f284240f400> <__main__.employee object at 0x7f284240f3c8>

# Constructor

In [9]:
class employee():

  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=salary

In [10]:
Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000")

In [11]:
print(Abhishek.fname)

Abhi

In [12]:
print(Ram.fname)

Ram

#  Instance and Class Variables

In [18]:
class employee():
   
  salay_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=salary
   
  def incre():
     pass

In [19]:
Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000")

In [20]:
Abhishek.incre()

TypeError: ignored

In [22]:
class employee():
   
  salay_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=salary
   
  def incre(self):
     pass

Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 

Abhishek.incre()

### Outside variable Error

In [14]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=salary
   
  def incre(self):
     self.salary=1.5*salary_raise

Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 

Abhishek.incre()

NameError: ignored

# Instance Variable

In [32]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      self.salary_raise=2
   
  def incre(self):
     self.salary=int(self.salary*self.salary_raise)

Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 

print(Abhishek.salary)
Abhishek.incre()
print(Abhishek.salary)

2000
4000

### Class Variable

In [33]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
   
  def incre(self):
     self.salary=int(self.salary*employee.salary_raise)

Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 

print(Abhishek.salary)
Abhishek.incre()
print(Abhishek.salary)

2000
3000

### Playing around with instance

In [35]:
print(Abhishek.__dict__)

{'fname': 'Abhi', 'sname': 'kaushik', 'salary': 3000}

In [39]:
Abhishek.salary_raise=int(3)

In [40]:
print(Abhishek.__dict__)

{'fname': 'Abhi', 'sname': 'kaushik', 'salary': 4500, 'salary_raise': 3}

In [42]:

print(Abhishek.salary)
Abhishek.incre()
print(Abhishek.salary)

6750
10125

### Viewing class Variable and instance Variable

In [43]:
print(Abhishek.__dict__)

{'fname': 'Abhi', 'sname': 'kaushik', 'salary': 10125, 'salary_raise': 3}

In [44]:
print(employee.__dict__)

{'__module__': '__main__', 'salary_raise': 1.5, '__init__': <function employee.__init__ at 0x7f2841a4ce18>, 'incre': <function employee.incre at 0x7f2841a4cea0>, '__dict__': <attribute '__dict__' of 'employee' objects>, '__weakref__': <attribute '__weakref__' of 'employee' objects>, '__doc__': None}

### Playing around with class Variable

In [52]:
class employee():
   
  salary_raise=1.5
  no_of_employee=0
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      employee.no_of_employee+=1
   
  def incre(self):
     self.salary=int(self.salary*employee.salary_raise)

print(employee.no_of_employee)

0

In [53]:
Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000")

In [54]:
print(employee.no_of_employee)

2

### Class Methods In Python

In [4]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
   
  def increase(self):
     self.salary=int(self.salary*employee.salary_raise)
  @classmethod
  def incre(cls,increment):
    cls.salary_raise=increment

Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 

print(Abhishek.salary)
Abhishek.incre(3)
Abhishek.increase()
print(Abhishek.salary)

2000
6000

## Class Methods As Alternative Constructor

In [9]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
   
  def increase(self):
     self.salary=int(self.salary*employee.salary_raise)

  @classmethod
  def incre(cls,increment):
    cls.salary_raise=increment

  @classmethod
  def class_alternate(cls,string_emp):
        fname,sname,salary=string_emp.split("_")
        return cls(fname,sname,salary)



Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 


abhi=employee.class_alternate("abhi_kaushik_100000")

print(abhi.sname)

kaushik

## Static Methods In Python oops

In [13]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
   
  def increase(self):
     self.salary=int(self.salary*employee.salary_raise)

  @classmethod
  def incre(cls,increment):
    cls.salary_raise=increment

  @classmethod
  def class_alternate(cls,string_emp):
        fname,sname,salary=string_emp.split("_")
        return cls(fname,sname,salary)
  @staticmethod
  def salary_static(sal):
    if sal>50000:
      print("good money")
    else:
      print("less money")

Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 
abhi=employee.class_alternate("abhi_kaushik_100000")

#call by class
employee.salary_static(abhi.salary)
#call by instance
Ram.salary_static(Ram.salary)

good money
less money

# Inheritance In Python oops

In [15]:
class data_analyst(employee):
  pass

obj1=data_analyst("Seamus","Quinn","500000")

In [16]:
print(obj1.fname)

Seamus

## Super class constructor

In [33]:
class data_sci(employee):

  def __init__(self,fname,sname,salary,prglan,exp):
    super().__init__(fname,sname,salary)
    self.praglan=prglan
    self.exp=exp

In [34]:
rahul_k=data_sci("rahul","arora","600000","python","5")

In [36]:
print(rahul_k.praglan)

python

#Over Writing a function in child class

In [45]:
class child_one(employee):
    def __init__(self,fname,sname,salary,prglan,exp):
      super().__init__(fname,sname,salary)
      self.praglan=prglan
      self.exp=exp

    def increase(self):
      self.salary=int(int(self.salary)*(int(employee.salary_raise)+2))

In [46]:
obj1=child_one("nkit","jama","50000","python","5 years")

In [47]:
print(obj1.salary)
obj1.increase()
print(obj1.salary)

50000
150000

# OOPs details by help command.

In [48]:
print(help(child_one))

Help on class child_one in module __main__:

class child_one(employee)
 |  Method resolution order:
 |      child_one
 |      employee
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, fname, sname, salary, prglan, exp)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  increase(self)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from employee:
 |
 |  incre(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from employee:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from employee:
 |
 |  salary_raise = 1.5

None

In [49]:
help(child_one)

Help on class child_one in module __main__:

class child_one(employee)
 |  Method resolution order:
 |      child_one
 |      employee
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, fname, sname, salary, prglan, exp)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  increase(self)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from employee:
 |
 |  incre(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from employee:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from employee:
 |
 |  salary_raise = 1.5

# Magic/Dunder Methods In Python?

In [8]:
print(5+2)
a=25
print(a.__add__(6))

7
31

In [9]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      self.salary_raise=2
   
  def incre(self):
     self.salary=int(self.salary*self.salary_raise)



Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 

print(Abhishek+Ram)

TypeError: ignored

In [2]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      self.salary_raise=2
   
  def incre(self):
     self.salary=int(self.salary*self.salary_raise)

  def __add__(self,other):
    return (self.salary+other.salary)

Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 

print(Abhishek+Ram)

7000

## __rper__

## __str__

In [10]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      self.salary_raise=2
   
  def incre(self):
     self.salary=int(self.salary*self.salary_raise)

  def __add__(self,other):
    return (self.salary+other.salary)

  #def __rper__(self):
   #  return self.fname 

Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 

print(Abhishek)

<__main__.employee object at 0x7f6f3974e7f0>

In [15]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      self.salary_raise=2
   
  def incre(self):
     self.salary=int(self.salary*self.salary_raise)

  def __add__(self,other):
    return (self.salary+other.salary)

  def __repr__(self):
     return self.fname 

Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 

print(repr(Abhishek))

Abhi

# Str function

In [18]:
class employee():
   
  salary_raise=1.5
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      self.salary_raise=2
   
  def incre(self):
     self.salary=int(self.salary*self.salary_raise)

  def __add__(self,other):
    return (self.salary+other.salary)

  def __repr__(self):
     return self.fname

  def __str__(self):
      return self.sname 

Abhishek=employee("Abhi","kaushik","2000")
Ram=employee("Ram","Chandra","5000") 

print(repr(Abhishek))
print(str(Abhishek))

Abhi
kaushik

##  Property Decorators, Setters & Deleters?

In [50]:
class hotel():
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      self.email=fname+sname+"@email.com"

In [52]:
if __name__ == "__main__":
    Abhishek=hotel("Abhi","kaushik","2000")
    Ram=hotel("Ram","Chandra","5000")  
    print(Ram.email)
    Ram.sname="Bhagwan"
    print(Ram.email)

RamChandra@email.com
RamChandra@email.com

In [47]:
print(Ram.__dict__)

{'fname': 'Ram', 'sname': 'Chandra', 'salary': 5000, 'email': 'RamChandra'}

In [59]:
class hotel():
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      #self.email=fname+sname+"@email.com"
  @property
  def email(self):
      return self.fname+self.sname+"@email.com"   

if __name__ == "__main__":
    Abhishek=hotel("Abhi","kaushik","2000")
    Ram=hotel("Ram","Chandra","5000")  
    print(Ram.email)
    Ram.sname="Bhagwan"
    print(Ram.email)

RamChandra@email.com
RamBhagwan@email.com

In [60]:
class hotel():
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      #self.email=fname+sname+"@email.com"
  @property
  def email(self):
      return self.fname+self.sname+"@email.com"   

if __name__ == "__main__":
    Abhishek=hotel("Abhi","kaushik","2000")
    Ram=hotel("Ram","Chandra","5000")  
    print(Ram.email)
    Ram.sname="Bhagwan"
    Ram.email="ram@gmail.com"
    print(Ram.email)

RamChandra@email.com

AttributeError: ignored

In [63]:
class hotel():
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      #self.email=fname+sname+"@email.com"
  @property
  def email(self):
      return self.fname+"."+self.sname+"@email.com"  
  @email.setter
  def email(self, email):
      fullname=email.split("@")[0].split(".")
      self.fname=fullname[1]
      self.sname=fullname[0]



if __name__ == "__main__":
    Abhishek=hotel("Abhi","kaushik","2000")
    Ram=hotel("Ram","Chandra","5000")  
    print(Ram.email)
    Ram.sname="Bhagwan"
    Ram.email="ram.chandra@gmail.com"
    print(Ram.email)

Ram.Chandra@email.com
chandra.ram@email.com

# Deleter

In [79]:
class hospital():
  def __init__(self,fname,sname,salary):
      self.fname=fname
      self.sname=sname
      self.salary=int(salary)
      #self.email=fname+sname+"@email.com"
  @property
  def email(self):
      if self.fname==None:
        return "Email not set"
      else:
        return self.fname+"."+self.sname+"@email.com"  
  @email.setter
  def email(self, email):
      fullname=email.split("@")[0].split(".")
      self.fname=fullname[1]
      self.sname=fullname[0]

  @email.deleter
  def email(self):
    self.fname=None
    self.sname=None 

if __name__ == "__main__":
    #Abhishek=hospital("Abhi","kaushik","2000")
    Ram=hospital("Ram","Chandra","5000")  
    print(Ram.email)
    Ram.sname="Bhagwan"
    Ram.email="ram.chandra@gmail.com"
    print(Ram.email)
    del Ram.email
    print(Ram.email)

Ram.Chandra@email.com
chandra.ram@email.com
Email not set