# Intro

#### Orginal code is written by kiranbeethoju and modified by Abhishek Kaushik for teaching purpose. 
## Distribution is not Allowed

In [1]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
     |████████████████████████████████| 174kB 5.9MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp36-none-any.whl size=1797 sha256=397ea87f799e788e419ba5f0214c60ccefb0de86b72b584c362afaf661766235
  Stored in directory: /root/.cache/pip/wheels/e0/f8/cb/08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-cp36-none-any.whl size=3894 sha256=748d0f3a4fd5e2372355f2b8e560952f124baae940e3d0013fa86969feeb2fb7
  Stored in directory: /root/.cache/pip/wheels/30/eb/ba/237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-cp36-none-any.whl size=31664 sha256=f37c44bdd36b710f40c313b3b40549c7ad3ae8d7c301d8c926871c181e2492cd
  Stored in directory: /root/.cache/pip/wheels/b0/91/4d/f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [8]:
import pandas as pd
import sqlite3
from datetime import date

In [9]:
#connecting with the database.
db = sqlite3.connect("Abhi_testing.db")
db.execute("drop table if exists results")
try:
  db.execute("create table results(Name text, Mobile text,Mail text)")
except:
  print("Already table existed !!")

In [10]:
db = sqlite3.connect("Abhi_testing.db")

In [11]:
#Date = date.today().strftime("%d-%m-%Y")
Name = "Abhi"
Mobile = "9000011101"
Mail = "AbhiteachineMachine1@you.com"

In [12]:
cmd = "insert into results(Name, Mobile,Mail) values('{}','{}','{}')".format(Name,Mobile,Mail)
db.execute(cmd)
db.commit()

# Querying

### Type - 1 Querying

In [13]:
db = sqlite3.connect("Abhi_testing.db")
rs = db.execute('SELECT * FROM results')
for row in rs:
    print (row)

('Abhi', '9000011101', 'AbhiteachineMachine1@you.com')

### Type - 2 Querying

In [14]:
db = sqlite3.connect("Abhi_testing.db")
qry = """

SELECT * FROM results

"""
df = pd.read_sql_query(qry, db)
df.head()

   Name      Mobile                          Mail
0  Abhi  9000011101  AbhiteachineMachine1@you.com

# Batch-wise data storage

In [19]:

def pushtoDB(Name,Mobile,Mail):
#inserting values inside the created table
    db = sqlite3.connect("testing.db")    
    from datetime import date
    #Date = date.today().strftime("%d-%m-%Y")
    cmd = "insert into results(Name, Mobile,Mail) values('{}','{}','{}')".format(Name,Mobile,Mail)
    db.execute(cmd)
    db.commit()

In [20]:
data = pd.read_csv("dummy.csv")
data.head()
data.shape

(1128, 3)

In [21]:
pushtoDB("Testttt","121","2112")

In [22]:
db = sqlite3.connect("testing.db")
qry = "SELECT * FROM results"
df = pd.read_sql_query(qry, db)
df.head()

      Name Mobile  Mail
0  Testttt    121  2112

In [28]:
for i in range(0,len(data)):
  pushtoDB(data.iloc[i][0],data.iloc[i][1],data.iloc[i][2])

In [29]:
db = sqlite3.connect("testing.db")
qry = """

SELECT * FROM results WHERE Name="Testttt"

"""
df = pd.read_sql_query(qry, db)
df.head()

      Name Mobile  Mail
0  Testttt    121  2112

In [30]:
db = sqlite3.connect("testing.db")
qry = """

SELECT * FROM results

"""
df = pd.read_sql_query(qry, db)
df.head()

      Name      Mobile                   Mail
0  Testttt         121                   2112
1    Test1  9000000000  testermail1@gmail.com
2    Test2  9000000001  testermail2@gmail.com
3    Test3  9000000002  testermail3@gmail.com
4    Test4  9000000003  testermail4@gmail.com